<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769554130353-sl4km766s7jkf9lqnhvmt4o6amr31l93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769554130353-sl4km766s7jkf9lqnhvmt4o6amr31l93</string>
	<key>API_KEY</key>
	<string>AIzaSyAHZyaIqCmyeTC0KBO6uDazr0XAbX8B6QU</string>
	<key>GCM_SENDER_ID</key>
	<string>769554130353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adeelsafdar.loginsignup.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>psyoappmohsin</string>
	<key>STORAGE_BUCKET</key>
	<string>psyoappmohsin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769554130353:ios:ac46d3228d8ac932d9c990</string>
</dict>
</plist>